body {
  font-family: Arial, sans-serif;
}

.recipe {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.recipe-checkbox {
  width: 30px;
  height: 30px;
}

.recipe-content {
  display: none;
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

.instructions {
  white-space: pre-line;
}

.video-link {
  padding-left: 20px;
}

.reset-button {
  margin-left: 20px;
}

.shopping-list-title {
  height: 50px;
  cursor: pointer;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

@media (min-width: 500px) and (max-width: 900px) {
  table {
      width: 75%;
  }
}

@media (min-width: 900px) {
  table {
      width: 50%;
  }
}
